@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #fffefc;
  /* color: #342e37; */
  color: #333;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="time"] {
  @apply w-full border my-1 py-2 px-3 rounded-2xl text-lg outline-none;
}

input[type="date"] {
  @apply bg-gray-100 outline-none font-medium border-2 rounded-xl px-3 py-2 border-white;
}

button {
  @apply bg-accent font-semibold transition duration-500;
}

button.primary {
  @apply w-full mt-4 py-2 px-3 text-lg shadow-md text-white rounded-xl;
}

button.primary:hover {
  @apply shadow-2xl;
}

.inputContainer {
  @apply flex flex-col my-3;
}

.inputContainerTitle {
  @apply text-xl font-semibold;
}

.inputContainerInput {
  @apply text-sm text-gray-600 mt-1;
}

.error {
  @apply text-third text-sm pl-3;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.container {
  /* Basic dimensions and centering */
  /* width: 100%; */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  /* Dark mode colors and gradient */
  background: #121212;
  /* Fallback for browsers that don't support gradients */
  background: linear-gradient(135deg,
      #121212 25%,
      #1a1a1a 25%,
      #1a1a1a 50%,
      #121212 50%,
      #121212 75%,
      #1a1a1a 75%,
      #1a1a1a);
  background-size: 40px 40px;

  /* Animation */
  animation: move 4s linear infinite;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 40px 40px;
  }
}

.overlay {
  @apply fixed top-0 left-0 w-full h-full flex bg-[#222]/75 backdrop-blur-[2px] z-50;
}

.updateLabel {
  @apply text-xl font-semibold;
}

.updateInputText {
  @apply w-full font-medium border my-1 py-2 px-3 rounded-2xl text-lg outline-none;
}

.updateInputArea {
  @apply w-full font-medium border my-1 py-2 px-3 rounded-2xl h-56 text-lg outline-none;
}

.desc {
  @apply text-sm font-normal text-gray-600 mt-1;
}